/* Resume.CSS */
* {
    /* border: 1px splid black; */
}

/* Header */
header {
  height: 350px;
  background: skyblue;
}

/* Image */
.fix-width {
  max-width: 100%
}

/* Avatar */
#avatar {
  border: 1px solid #ccc; /*框線*/
  border-radius: 50%; /*圓角*/
  padding: 5px; /*內邊距*/
  background-color: white; /*背景*/
  margin-top: -78px; /*負數的外邊距會往上跑*/
}
